/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.formulario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}